.footer__links{
    width: 176px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    text-decoration: none;
   
}